/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/10/2018, 03:27:57 AM
    Author     : shessira
*/

*{
    color: azure;
    font-size: 15px;
}
.bg{
  /*  background: url(../IMAGENES/fond.jpg) no-repeat;*/
  background-color: #ccc;
    width: 100vh;
    height: 100vh;
    
}
.form-contatiner{
    border: 1px solid #fff;
    padding: 50px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);    
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);    
    
}
.letra{
    color: #000;
    text-align: center;
}

.material-icons {
    vertical-align:-14%;
    color: #000;    
        
}